body {
    margin: 0;
    padding: 0;
}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
}
#menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    border-radius: 3px;
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    font-family: "Open Sans", sans-serif;
}

#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 200px;
}
 
#menu a:last-child {
    border: none;
}

.ab {
    width: 100px;
}
.open > .dropdown-menu {
    display: block;
    width: 200px;
}

.sidepanel {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 250px;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #f1f1f1;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

/*----------Added by Sourav-----------*/

/* width */
::-webkit-scrollbar {
    width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    padding: 2px;
    margin: 2px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #0d426b;
    border-radius: 5px;
    margin: 2px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #051e31;
}
/*Scroll Bar Style End*/
.left-menu {
    background: linear-gradient(#263238, #449893);
}

a {
    &:hover {
        text-decoration: none;
    }
}
.dev {
    position: fixed;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    color: #000;
    font-size: 12px;
    padding: 2px 5px;
    left: 50%;
    margin-left: -100px;
    a {
        color: #051e31;
    }
}
.navbar-nav {
    .dropdown-menu {
        margin: 0;
        border-radius: 0;
        border-top: none;
    }
}
.navbar {
    padding: 0rem 1rem;
}
.navbar-brand {
    img {
        max-height: 32px;
    }
    width: 12%;
}
.btn-home {
    position: absolute;
    right: 10px;
    top: 260px;
    background: #fff;
    color: #404040;
    width: 30px;
    border-radius: 3px;
    text-align: center;
    padding: 3px 0;
}
.side_panel.show {
    left: 0;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.side_panel {
    position: absolute;
    z-index: 10;
    background: #f1f1f1;
    bottom: 0;
    top: 40px;
    box-shadow: none;
    width: 300px;
    left: -300px;
    transition: all 0.3s ease-in-out;
    .scroll {
        overflow: auto;
        position: absolute;
        bottom: 10px;
        top: 40px;
        right: 0;
        left: 0;
        padding: 10px;
        #mainchecks {
            > div {
                padding: 3px 10px;
                margin: 0px 0;
                border-top: 1px solid rgba(255, 255, 255, 0.2);
                border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                > input {
                    position: relative;
                    top: 2px;
                }
                label {
                    margin: 0 10px;
                }
            }
        }
    }
    .side_panel_opener {
        position: absolute;
        right: -35px;
        top: 20px;
        background: #f1f1f1;
        color: #051e31;
        padding: 0 5px;
        font-size: 25px;
        border-radius: 0 3px 3px 0;
        cursor: pointer;
    }
    h4 {
        color: #fff;
        position: relative;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 16px;
        margin-bottom: 20px;
        &::after {
            content: "";
            position: absolute;
            bottom: -5px;
            height: 3px;
            width: 30px;
            left: 0;
            background: #fff;
        }
    }

    .layerlist {
        transition: all 0.3s ease-in-out;
        h4 {
            color: #051e31;
            &::after {
                background: #051e31;
            }
        }
        // overflow-x: hidden;
        // overflow-y : auto;
        padding: 10px;
        background: #ffffff;
        position: absolute;
        width: 300px;
        bottom: 70%;
        top: 0;
        button {
            width: 100%;
            background: none;
            border: 2px solid #0d426b;
            text-transform: uppercase;
            letter-spacing: 4px;
            font-weight: bold;
            border-radius: 2px;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        }
        ul {
            li {
                //border-bottom: 1px solid rgba(0, 0, 0, 0.2);

                a {
                    color: #051e31;
                }
            }
        }
    }
    .legend {
        padding: 10px;
        position: absolute;
        bottom: 0;
        top: 30%;
        width: 300px;
        background: black;
        color: #fff;
        transition: all 0.3s ease-in-out;
        input {
            margin-right: 5px;
        }
        ul {
            margin-bottom: 0;
            background: rgba(240, 255, 255, 0.5);
            margin: 5px 5px 5px 15px;
            border-radius: 3px;
            padding: 5px;
            li {
                color: rgba(0, 0, 0, 0.9);
                font-size: 12px;
                line-height: 15px;
                margin: 1px 0 1px 0;
                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                input {
                    position: relative;
                    top: 3px;
                    margin-right: 10px;
                }
                .color {
                    margin-right: 10px;
                }
            }
        }
        .circlelegend {
            height: 15px;
            width: 15px;

            border-radius: 50%;
            display: inline-block;
        }

        .points-source-of-truth-bpb4ac,
        .blocks-classified-region-3ln9lg,
        .malls-0mmu5e {
            /*display: none;*/
        }
        .Zero {
            height: 15px;
            width: 15px;
            background-color: #fff;
            border-radius: 50%;
            display: inline-block;
        }
        .one {
            height: 15px;
            width: 15px;
            background-color: #9ca94c;
            border-radius: 50%;
            display: inline-block;
        }
        .two {
            height: 15px;
            width: 15px;
            background-color: #dff660;
            border-radius: 50%;
            display: inline-block;
        }
        .three {
            height: 15px;
            width: 15px;
            background-color: #4f4ca9;
            border-radius: 50%;
            display: inline-block;
        }
        .four {
            height: 15px;
            width: 15px;
            background-color: #f23636;
            border-radius: 50%;
            display: inline-block;
        }
        .five {
            height: 15px;
            width: 15px;
            background-color: #ede8e8;
            border-radius: 50%;
            display: inline-block;
        }
        .six {
            height: 15px;
            width: 15px;
            background-color: #48d5b0;
            border-radius: 50%;
            display: inline-block;
        }
    }
    ul {
        padding: 0;
        overflow-x: hidden;
        overflow-y: auto;
        // max-height: 120px;
        li {
            list-style: none;
            // border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            padding: 3px 5px;
            // font-size: 14px;
            a {
                color: rgb(5, 30, 49);
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.pitch-home {
    position: absolute;
    right: 10px;
    top: 292px;
    background: #fff;
    color: #404040;
    width: 30px;
    border-radius: 3px;
    text-align: center;
    padding: 3px 0;
}
.isochorne-home {
    position: absolute;
    right: 10px;
    top: 324px;
    background: #fff;
    color: #404040;
    width: 30px;
    border-radius: 3px;
    text-align: center;
    padding: 3px 0;
}

.query-home {
    position: absolute;
    right: 10px;
    top: 359px;
    background: #fff;
    color: #404040;
    width: 30px;
    border-radius: 3px;
    text-align: center;
    padding: 3px 0;
}
.side_panel.expand {
    .legend {
        top: 70%;
    }
    .layerlist {
        bottom: 30%;
    }
}
span.toggleExpand {
    background: #000;
    width: 24px;
    height: 24px;
    display: inline-block;
    font-size: 24px;
    line-height: 24px;
    position: relative;
    top: 5px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    color: #00daff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.layerzWrap {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 20px;
    top: 100px;
    overflow-y: auto;
}
.atbottom {
    color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    overflow: visible;
}
#sidebar { 
    position:absolute; 
    width:150px;
    
}
#white {
    color: white;
    font-size: 15px;
}

// #forSpaninLi {
//     position: relative;
//     top: 2px;
//     margin-right: 10px;
// }

.forblocklegend {
    position: absolute;
    right: 10px;
    bottom: 4vh;
    background: #fff;
    color: #404040;
    width: 10vw;
    border-radius: 3px;
    text-align: center;
    padding: 3px 0;
}
#forisochronelegend{
    position: absolute;
    right: 44%;
    bottom: 10px;
    margin-right: -5vw;
    color: #404040;
    width: 27vw;
    border-radius: 3px;
    text-align: center;
    height: 30px;
    padding: 3px 0;
}

#band {
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #f54e5e, #f1f075, #56b881, #3887be, #4a4a8b);
}

.forisochrone {
    position: absolute;
    right: 197px;
    bottom: 127px;
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    width: 300px;
    padding: 15px;
    margin-right: -150px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    hr{
        border-top: 1px solid rgba(255, 255, 255, 0.3);
    }
    .p18{
        .txt-l{
            font-size: 20px;
        }
    }
    select{
        background: none;
        color: #fff;
        border:1px solid #fff;
        option{
            color: #000;
        }
    }
    // .fl {
    //     float: left;
    // }
}

.forattrquery {
    position: absolute;
    right: 197px;
    bottom: 247px;
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    width: 300px;
    padding: 15px;
    margin-right: -150px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    hr{
        border-top: 1px solid rgba(255, 255, 255, 0.3);
    }
    .p18{
        .txt-l{
            font-size: 20px;
        }
    }
    select{
        background: none;
        color: #fff;
        border:1px solid #fff;
        option{
            color: #000;
        }
    }
    // .fl {
    //     float: left;
    // }
}
#loader{
    width: 100%;
    height:100%;
    position:absolute;
    z-index:99;
    background:rgba(0,0,0,0.5);
    padding-top:30%;
    opacity:1;
    transition:all 0.5s;
}

#loader.hidden{
    opacity:0;
    pointer-events: none;
}

#overlay {
    position:absolute;
    z-index:99;
    height:100%;
    pointer-events:none;
    width:100%;
}

#sidebar { 
    position:absolute; 
    width:100px;
    height: 100%;
}

.origin {
    background:white;
    width:30px;
    height:30px;
    pointer-events:all;
    position:absolute;
    border-radius:50%;
    transition:width 0.2s, height 0.2s, margin 0.2s;
    padding:3px;
    border:2px solid #333;
    cursor:-webkit-grab;
}

.origin:hover{
    width:40px;
    height:40px;
    -webkit-filter: invert(100%);
}

.origin:active{
    transition:width 0.2s, height 0.2s, margin 0s;
    margin: -20px -20px;
    cursor:-webkit-grabbing;     
    width:40px;
    height:40px;       
}

#legend {
    position:absolute;
    bottom:20px;
    color:white;
    width:350px;
}
#band {
    width:100%;
    height:10px;
    background: linear-gradient(to right, #f54e5e, #f1f075, #56b881, #3887be, #4a4a8b); 
}

.w300{
    width:300px;
}

.bar{
    display:inline-block;
    width:3px;
    margin-right:2px;
    background:white;
    border-radius:1px;
    transition: all 1s;
    height:0px;
}

#axis {
    overflow:visible;
    height:10px;
}
#axis text{
    text-anchor: middle;
    fill:white;
}
.mapboxgl-ctrl-bottom-right{
    right:auto;
    left:0;
}
/* tooltip */
#tooltip {
  position:absolute;
  z-index:100;
  pointer-events:none;
  display:none;
  opacity:0;
}
.inspector:hover #tooltip {
    opacity:1;
    display:block;
  }
  .inspector .mapboxgl-canvas-container.mapboxgl-interactive {
    cursor:none;
  }
.dot {
  width:5px;
  height:5px;
  background:white;
  border-radius:2.5px;
  position:absolute;
}
.line {
  position:absolute;
  height:0px;
  width:30px;
  transform:rotate(45deg);
  border-top:3px solid #333;
  transform-origin:left center;
  z-index:-1;
  margin-top:-1.5px;
}
.bubble{
  background:#333;
  color:white;
  padding:6px;
  margin:15px;
}

input:checked + .toggle--white {
    color:black;
}
ul#layerz {
    display: flex;
    flex-wrap: wrap;
    li {
        background: #fff;
        margin: 2px 0;
        border-radius: 2px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
        margin: 2px;
        flex-grow: 1;
        text-align: center;
        position: relative;
        overflow: hidden;
        color: #999;
        font-size: 14px;
        .num {
            display: table;
            margin: auto;
            font-weight: bold;
            letter-spacing: 2px;
            color: #051e31;
        }
        .color {
            position: absolute;
            bottom: 0%;
            width: 3px;
            background: #11b1e3;
            left: 0;
            top: 0;
            display: none;
        }
    }
}


/*the container must be positioned relative:*/
.autocomplete {
    position: relative;
    display: inline-block;
  }
  

  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }

  .content{
    position: absolute;
    background-color: #f2f2f2;
    left: 200px;
    top: 5px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    select,input{
    border: none;
    background: #f2f2f2;
    margin-left: 5px;
    }
    .btn{
        border-radius: 0;
    }
  }

//   .popup{
//     position:absolute;
//     display: none;
//     z-index: 99;
//     background: white;
//     top: 110px;
//     right: 60px;
//     box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
//     .icofont-close-squared{
//         position: absolute;
//         right: -15px;
//         top: -15px;
//         color: #fff;
//     }
//     table{
//         width: 100%;
//         tr{
//             border-bottom: 1px solid #eee;
//         }
//         td{
//             padding: 5px 10px;
//         }
//         thead{
//             background: #f2f2f2;
//         }
//         tbody{
//             font-size: 12px;
//         }
//     }
    
//     .openeditcard{
//         background: none;
//         border: none;
//     }
//     #editdataformdiv{
//         position: absolute;
//         right: 0;
//         top: 0;
//         left: 0;
//         bottom: 0;
//         background: #fff;
//         color: #404040;
//         border-radius: 3px;
//         text-align: center;
//         padding: 1rem;
//         display:none
//     }
//   }


.DTsec{
    position: fixed!important;
    left: 10px;
    right: 10px;
    bottom: -50vh;
    top: 100vh;
    background: #fff;
    z-index: 999;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    &.show{
        bottom: 0;
        top: 50vh;
    }
    .DTwrapper{
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        margin:35px 10px 0 10px;
        padding: 5px 5px 5px;
    }
    .openDT{
        background: #fff;
        margin: -25px auto 0;
        display: table;
        padding: 2px 10px;
        border-radius: 3px 3px 0 0;
        cursor: pointer;
    }
    table.dataTable{
        thead {
            th,td{
                padding: 8px 15px 8px 10px;
                font-size: 12px;
            }
        }
        tbody {
            th,td{
                padding: 8px 10px;
                font-size: 12px;
            }
        }
    }
    .dataTables_wrapper{
        .dataTables_filter input {
            border: 1px solid #ccc;
            border-radius: 3px;
        }
    } 
    #datatbl_filter,#datatbl_length{
        position: fixed;
        margin-top: -30px;
    }
    #datatbl_filter{
        right: 20px;
    }
}